body{
    text-align: center;
    background-color:#C0997F; 
    color: #000000;     
}



h1{
    text-align: center;
}

button {   
    background-color: burlywood;   
    width: 100%;  
     color: white;   
     padding: 15px;   
     margin: 10px 0px;   
     border: none;   
     cursor: pointer;   
      }   
form {   
     border: 3px solid #f1f1f1;   
 }   
input[type=text], input[type=password] {   
     width: 100%;   
     margin: 8px 0;  
     padding: 12px 20px;   
     display: inline-block;   
     border: 2px solid bur;   
     box-sizing: border-box;   
 }  
button:hover {   
     opacity: 0.7;   
 }   
.cancelbtn {   
     width: auto;   
     padding: 10px 18px;  
     margin: 10px 5px;  
 }   
     
  
.container {   
     padding: 25px;   
     background-color: white;  
 }  

.link{
    text-align: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 .social-icon {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 5px; /* Add some spacing between icons */
}

 .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
 }