body{
    text-align: center;
    background-color:#C0997F; 
    color: #000000;     
}

.link{
    text-align: left;
}


h1{
    text-align: center;
}

button{
    text-align: center;
    border-radius: 50;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }
 .social-icon {
    width: 30px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 5px; /* Add some spacing between icons */
}

 .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
 }