body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #FFFFFF; 
    color: #000000; 
    background-image: url('img/slamdunk-b.jpg');
    background-position: top;
    
    background-size: 100% auto
}

h1 {
    color:white;
    text-align: center;
    font-family:pla;
}

.outlined-text {
    
    text-shadow: -1px -1px 0 #000,  
                 1px -1px 0 #000,
                -1px 1px 0 #000,
                 1px 1px 0 #000;
    opacity: 75%;
    padding-bottom: 70px;
    font-size:60px;
}

table{
    background-color: rgb(255, 255, 255);
    padding: 10px;/* space on the inside*/
    margin: 0px;/* space on the outside*/
    text-align: center;
    opacity: 80%;
    font-size: large;
    border-radius: 50%;
}


#slam{
    height: 281px;
    width: 180px;
}

.vid {
    margin: 30px; /* Adjust margin as needed */
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 450px;
    padding-right: 450px; /* Adjust padding as needed */
    opacity: 100%; /* Show .round initially */
    
}