<<<<<<< HEAD
body {
    background-color: #FFFFFF; 
    color: #000000; 
    background-image: url('img/vback1.png');
}
=======
body {
    background-color: #FFFFFF; 
    color: #000000; 
    background-image: url('img/vback1.png');
}
>>>>>>> 15fb49a110bb29f2eaf5e473eb6a494d0cb24271
